@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Inter", sans-serif;
	}
}

@layer utilities {
	.text-title {
		@apply cursor-default text-xl font-semibold text-neutral-800 xl:text-2xl;
	}

	.text-subtitle {
		@apply cursor-default text-lg font-medium text-neutral-600 xl:text-xl;
	}

	.text-body {
		@apply cursor-default text-neutral-700 xl:text-lg;
	}
}

/** Change NProgress color **/
#nprogress .bar {
	background: theme("colors.indigo.500") !important;
	height: 3.5px !important;
}

#nprogress .peg {
	box-shadow: 0 0 10px theme("colors.indigo.200"), 0 0 5px theme("colors.indigo.200");
}
